div.items {
  div.subtotal {
    font-weight: bold;
    text-align: right;
    border-top: solid 1px grey;
    border-bottom: solid 1px black;
    padding: 3px;
  }

  div.list {
    ul {
      list-style: none;

      li {
        margin-bottom: 10px;

        span {
          width: 100%;
          display: inline-block;
        }
      }
    }
  }
}
